<nav id="left-menu">
  <ul>
    <li>
      Type: {{view "custom-select" content=supplementTypeNames value=currentSupplementType}}
    </li>
    <li>
      Brand: {{view "custom-select" content=brandNames value=currentBrand}}
    </li>
  </ul>
</nav>
<section id="dashboard-section">
  <div id="filter">
    {{input value=supplementName type="text" placeholder="Type somethin..."}}
  </div>
  <div class="content">
    <div class="inner">
      {{#each displayedContent}}
        <figure>
          <img {{bind-attr src="image"}}>
          <figcaption>{{brand.name}} - {{type.name}}</figcaption>
        </figure>
      {{/each}}
    </div>
  </div>
</section>